body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #000000;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #000000;
  }
  
  #title-content {
    text-align: center;
  }